<html>
<head>
    <title>Mini Syllabus Form</title>
    <link type="text/css" rel="stylesheet" href="syllabus.css" />
</head>
<body>
<h1>Mini Syllabus</h1>
{{ form_start(form) }}
    {{  form_widget(form) }}
{{ form_end(form) }}
</body>
</html>